/* 1. Import Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script:wght@600&family=Fjalla+One&family=Kanit:wght@300&family=Lato&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather:wght@300&family=Mukta:wght@500&family=Poppins&display=swap");
/* 2. Initialisations */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
#preloader {
  background: #000 url(images/b6e0b072897469.5bf6e79950d23.gif) no-repeat center
    center;
  background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* 3.Section - Navbar */
#navbar {
  background: rgb(66 87 107 / 67%);
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 18rem;
  transition: all 0.6s ease;
  transform: translateX(100%);
}
/* 3.1 Navbar Menu button */
#menubtn {
  width: 3rem;
  text-align: center;
  border-radius: 0.6rem;
  font-size: 2rem;
  background: #4e535f9e;
  color: white;
  position: fixed;
  top: 2%;
  right: 1%;
  cursor: pointer;
  z-index: 10;
}
.btn-cancel {
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 2.5%;
  right: 5%;
  cursor: pointer;
}
.btn-cancel:hover {
  color: #b353f9;
}

/* 3.2 Navbar ul(nav- items) */
.nav-title {
  color: #2de7c7;
  margin: 1rem;
  font-family: "Kanit", sans-serif;
}
.nav-items {
  color: white;
  font-size: 1.2rem;
  list-style: none;
  width: 90%;
  height: 90%;
  margin: 2rem auto;
  font-family: "Roboto Slab", serif;
}

/* 3.3 Animate ul(nav-items) */
.animateItems {
  animation: aniLeftSlide 0.6s ease-in-out;
}
@keyframes aniLeftSlide {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(0%);
  }
}

.list-items {
  margin: 0.4rem;
  padding: 0.4rem;
}
.list-items:nth-child(-n + 6):not(:nth-child(7)):hover {
  box-shadow: 2px 2px;
}
.list-iconbox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30%;
}
.list-items a {
  color: white;
  text-decoration: none;
  transform: rotateY(0deg);
  transition: transform 0.6s ease;
}

.list-icons {
  font-size: 2rem;
}
.list-items a:hover,
.list-items:nth-child(6):hover {
  color: #2ac3ec;
  transform: rotateY(360deg);
}

/* 4.Section - Home */
#Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d2d64;
}
#Home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--changeBg, url(images/bgcheck3.jpg));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: -3;
  transition: background 0.6s ease;
  opacity: 80%;
}

/* 4.1 Home: Title and Para */

.typeWriteBox {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Serif Display", serif;
  color: #2d2d64;
}
.typeWriteTitle {
  font-size: 3.5rem;
}
.para {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  white-space: nowrap;
  text-align: center;
}
.typeWritePara {
  padding: 0.9rem;
  border-radius: 2rem;
  border: transparent;
  text-align: center;
  border: 0.2rem solid;
  opacity: 0;
  transition: opacity 3s ease;
}

/* 4. Section - About */
#About {
  margin: 2rem 0 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutBox {
  display: flex;
  height: 90%;
  width: 80%;
  transform: translateX(0);
}
.aboutImgBox {
  /* border: 2px solid; */
  opacity: 0;
  height: 100%;
  width: 40%;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.6s ease;
}
/* 4.1 Section - About Info Box */
.aboutInfoBox {
  opacity: 0;
  height: 100%;
  width: 55%;
  margin-left: 3rem;
  transition: all 1.6s ease-in-out;
}
.title-info {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  height: 15%;
  color: blue;
  font-family: "Mukta", sans-serif;
}
.para-info {
  font-size: 1.1rem;
  color: #787278;
  height: 15%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
/* 4.2 Section - Spanbox (label and val) Box  */
.aboutSpanBox {
  display: flex;
  font-size: 1.1rem;
  height: 55%;
  margin-bottom: 1rem;
}
.span-label {
  display: flex;
  flex-direction: column;
  color: #2e2c2c;
  margin-right: 1rem;
  font-weight: bold;
}
.span-value {
  display: flex;
  flex-direction: column;
  color: #948d8d;
}

.label-items,
.val-items {
  line-height: 3rem;
  white-space: nowrap;
}
/* .label-items{
  white-space: nowrap;
} */
/* 4.3 Section - Button Box  */
.aboutBtnBox {
  display: flex;
  align-items: center;
  height: 15%;
}
.aboutBtnBox a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 0.3rem;
  background-color: #3e64ff;
  border: #5871d6c5;
  padding: 0.6rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.aboutBtnBox a:hover {
  color: #07154b;
}
.about-gitIcon {
  cursor: pointer;
  margin-left: 0.3rem;
  font-size: 2.5rem;
}

/* 4.4 Section - About Image Box  */
.aboutImgBox img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* 5. Section - Skills */
#Skills {
  display: flex;
  opacity: 0;
  transition: 0.6s ease;
}

/* 5.1 Skill Navbar */
#skillbar {
  opacity: 0;
  position: sticky;
  left: 0;
  top: 30%;
  width: 20%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill-items {
  list-style: none;
}
#skill-items li {
  padding: 0.5rem;
  margin: 0.1rem;
}
#skill-items li a {
  font-size: 1.3rem;
  font-family: "Kanit", sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#skill-items li a:hover {
  color: blue;
}

/* Dynamically add effect */
.AddNavEffect {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0.4rem;
  transform: translateX(20%);
  transition: 0.6s ease;
  border-bottom: 0.2rem solid blue;
}
.skillsbox {
  width: 75%;
  height: 100%;
  margin-left: 1rem;
}

.skill-title {
  font-size: 2.2rem;
  color: blue;
  font-family: "Mukta", sans-serif;
  margin: 0rem 1rem 1rem 1rem;
}
.margintop {
  margin-top: 2rem;
}
.skill-value {
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
}
.uil-clipboard-alt {
  font-size: 2.1rem;
  background-color: blue;
  border-radius: 30%;
  color: white;
  padding: 0.2rem;
}
.skill-btns {
  margin: 0.5rem 0.5rem 0 0.6rem;
}
.skill-para {
  width: 75%;
}

#edubox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
#expbox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
#langbox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
/* 5.2 Section: Skills, Para  */
.para-duration {
  color: blue;
}
.para-primary {
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  padding: 0.2rem;
  margin: 0.2rem;
  font-weight: bold;
}
.para-duration {
  font-family: "Merriweather", serif;
  padding: 0.2rem;
  margin: 0.2rem;
}
.para-secondary {
  font-family: "Merriweather", serif;
  font-weight: bold;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.1rem;
}
.para-tertiary {
  font-family: "Merriweather", serif;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1rem;
  color: #888080;
}
/* 5.2.1 Dynamic Animations */
.animateYitems {
  animation: aniYSlide 0.6s ease-in-out;
}
@keyframes aniYSlide {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* 6 Section: Projects  */
#Projects {
  /* opacity: 0; */
  margin-top: 2rem;
  transition: 0.6s ease;
}
.projbox {
  opacity: 0;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  grid-template-rows: repeat(2, 1fr);
  transition: 1s ease;
}
.proj-items {
  position: relative;
}
.proj-items img {
  border: 2px solid white;
  object-fit: fill;
  height: 100%;
  width: 100%;
}
/* 6.1 Text over */
.text-over {
  color: wheat;
  border: 2px solid;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  font-size: 1.6rem;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.6s ease;
}
.text-over p {
  font-family: "Mukta", sans-serif;
}
.text-over a {
  color: white;
}
.bgBlue {
  background: #2727ee89;
  transition: 0.3s ease;
}
.link-icon {
  cursor: pointer;
  margin-right: 0.7rem;
  /* font-size: 2rem; */
}
/* 7 Section: Contacts  */
#Contacts {
  margin: 3rem 0 2rem 0;
  opacity: 0;
  transition: 2.5s ease;
}

.contact-para {
  text-align: center;
  font-size: 1.3rem;
}
.contact-title {
  text-align: center;
  font-size: 3.5rem;
  color: blue;
  font-family: "Mukta", sans-serif;
}

/* 6.1 Section: Contacts - Card items */
.contact-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 2rem;
  width: 80%;
  margin: 3.7rem auto;
  justify-content: center;
}
.card-items {
  padding-top: 0.5rem;
  border-radius: 0.8rem;
  box-shadow: -0.2rem -0.2rem 0.9rem 0.3rem rgba(0, 0, 0, 0.3);
  transition: 0.6s ease;
  height: 19rem;
}
.card-items:hover {
  transform: scale(1.1);
}
.text-center {
  text-align: center;
  margin-top: 1rem;
}
.item-icons {
  display: flex;
  justify-content: center;
  color: white;
  background: blue;
  border-radius: 50%;
  font-size: 4rem;
  width: 44%;
  padding: 1rem;
  margin: 1rem auto;
}

/* Foot Section */
#Foot {
  background: #545a87;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  padding: 0.2rem;
  margin-top: 1rem;
}
/* 7. Change Themes */
#colors {
  width: 3rem;
  text-align: center;
  border-radius: 0.6rem;
  font-size: 2rem;
  position: fixed;
  z-index: 100;
  top: 0.9rem;
  right: 4.4rem;
  cursor: pointer;
}
.changeThemeColor {
  color: var(--variable-color, blue);
}
.changeThemeBg {
  background: var(--variable-bg);
}
.changeIconBg {
  background: var(--variable-iconBg, blue);
}

/* Responsive */
@media (min-width: 1501px) {
  .projbox {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  }
  .contact-cards {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}
/* From width 1450px */
@media (max-width: 1500px) {
  .aboutImgBox {
    width: 25rem;
    height: 32.6rem;
  }
  .contact-cards {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }
}

/* From width 900px */
@media (max-width: 900px) {
  #skillbar {
    margin-left: 1rem;
  }
  .aboutImgBox {
    width: 34rem;
    margin: auto;
  }
  .projbox {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
  .title-info {
    display: block;
    text-align: center;
  }
  .aboutInfoBox {
    margin-top: 2rem;
    width: 90%;
  }
  .aboutSpanBox {
    justify-content: center;
  }
  .AboutBox {
    flex-direction: column;
  }
  .skillsbox {
    margin-left: 3rem;
    width: 100%;
  }
  /* .skillsbox {
    
  } */
}
/* From width 680px */
@media (max-width: 680px) {
  .skill-para {
    width: 100%;
  }
  .typeWriteTitle {
    font-size: 2.5rem;
  }
  .aboutSpanBox {
    justify-content: flex-start;
  }
  .para {
    white-space: inherit;
    font-size: 1.1rem;
  }
  .aboutImgBox {
    width: 28rem;
  }
  .para-primary {
    font-size: 1rem;
  }
  .para-duration {
    font-size: 1rem;
  }
  .para-secondary {
    font-size: 1rem;
  }
  .para-tertiary {
    font-size: 1rem;
  }
  #skill-items li a {
    font-size: 1rem;
  }
  .skill-title {
    font-size: 1.8rem;
  }
  .contact-cards {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  }
}

/* From width 530px */
@media (max-width: 530px) {
  .aboutImgBox {
    width: 18rem;
    border-radius: 50%;
    height: 18rem;
  }
  .title-info {
    font-size: 3rem;
  }
  .aboutSpanBox {
    font-size: 1rem;
  }
  .AboutBox {
    width: 100%;
  }
  #skillbar {
    display: none;
  }
  .skillsbox {
    margin-left: 2rem;
  }
}

/* From width 400px */
@media (max-width: 470px) {
  .typeWriteTitle {
    font-size: 2rem;
    text-align: center;
  }
  .aboutInfoBox {
    margin: auto;
  }
  .span-label {
    width: 32%;
  }
  .label-items,
  .val-items {
    white-space: inherit;
    line-height: 2.6rem;
  }
}
/* From width 395px */
@media (max-width: 395px) {
  #navbar {
    width: 90vw;
  }
  .aboutSpanBox {
    font-size: 0.81rem;
  }
  .para {
    font-size: 0.9rem;
  }
  .typeWriteTitle {
    font-size: 1.8rem;
  }
}
/* From width 350px */
@media (max-width: 350px) {
  #navbar {
    width: 100vw;
  }
  .para {
    font-size: 0.8rem;
  }
  .aboutSpanBox {
    white-space: nowrap;
  }
  html,
  body {
    overflow: auto;
  }
}
