/* 1. Import Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script:wght@600&family=Fjalla+One&family=Kanit:wght@300&family=Lato&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Merriweather:wght@300&family=Mukta:wght@500&display=swap");
/* 2. Initialisations */
* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  height: 200rem;
}

/* 3.Section - Navbar */
#navbar {
  background: #13131380;
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20vw;
  transition: all 0.6s ease;
  transform: translateX(100%);
}
/* 3.1 Navbar Menu button */
#menubtn {
  width: 3rem;
  text-align: center;
  border-radius: 0.6rem;
  font-size: 2rem;
  background: #4e535f9e;
  color: white;
  position: fixed;
  top: 2%;
  right: 1%;
  cursor: pointer;
}
.btn-cancel {
  font-size: 2rem;
  position: absolute;
  color: white;
  top: 2.5%;
  right: 5%;
  cursor: pointer;
}
.btn-cancel:hover {
  color: #b353f9;
}

/* 3.2 Navbar ul(nav- items) */
.nav-title {
  color: #ffb8be;
  margin: 1rem;
  font-family: "Kanit", sans-serif;
}
.nav-items {
  color: white;
  font-size: 1.2rem;
  list-style: none;
  width: 90%;
  height: 90%;
  margin: 2rem auto;
  font-family: "Roboto Slab", serif;
}

/* 3.3 Animate ul(nav-items) */
.animateItems {
  animation: aniLeftSlide 0.6s ease-in-out;
}
@keyframes aniLeftSlide {
  0% {
    transform: translateX(60%);
  }
  100% {
    transform: translateX(0%);
  }
}

.list-items {
  margin: 0.4rem;
  padding: 0.4rem;
}
.list-items:nth-child(-n + 6):not(:nth-child(7)):hover {
  box-shadow: 2px 2px;
}
.list-iconbox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 30%;
}
.list-items a {
  color: white;
  text-decoration: none;
  transform: rotateY(0deg);
  transition: transform 0.6s ease;
}

.list-icons {
  font-size: 2rem;
}
.list-items a:hover,
.list-items:nth-child(6):hover {
  color: #f9aeae;
  transform: rotateY(360deg);
}

/* 4.Section - Home */
#Home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--changeBg, url(images/bg3.jpg));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: -3;
  transition: background 0.6s ease;
  opacity: 95%;
}

/* 4.1 Home: Title and Para */

.typeWriteBox {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "DM Serif Display", serif;
  color: #eee0e0;
}
.typeWriteTitle {
  font-size: 3.5rem;
}
.para {
  font-family: "Lato", sans-serif;
  margin-top: 1rem;
  padding: 0.4rem;
  font-size: 1.5rem;
  white-space: nowrap;
  text-align: center;
}
.typeWritePara {
  padding: 0.9rem;
  border-radius: 2rem;
  border: transparent;
  text-align: center;
  border: 0.2rem solid;
  opacity: 0;
  transition: opacity 3s ease;
}

/* 4. Section - About */
#About {
  /* border: 2px solid black; */
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to bottom, #87CEEB, #ffffff); */
  /* background: linear-gradient(135deg, #7d14ee, #d58cff, #a7d7f9); */
}
.AboutBox {
  display: flex;
  height: 90%;
  width: 80%;
  transform: translateX(0);
}
.aboutImgBox {
  /* border: 2px solid; */
  opacity: 0;
  height: 100%;
  width: 40%;
  border-radius: 1rem;
  overflow: hidden;
  transition: all 0.6s ease;
}
/* 4.1 Section - About Info Box */
.aboutInfoBox {
  opacity: 0;
  padding: 1rem;
  height: 100%;
  width: 55%;
  margin-left: 3rem;
  transition: all 1.6s ease-in-out;
}
.title-info {
  font-size: 3rem;
  display: flex;
  align-items: center;
  height: 15%;
  color: blue;
}
.para-info {
  font-size: 1.1rem;
  color: #787278;
  height: 15%;
  display: flex;
  align-items: center;
}
/* 4.2 Section - Spanbox (label and val) Box  */
.aboutSpanBox {
  display: flex;
  font-size: 1.1rem;
  height: 55%;
}
.span-label {
  display: flex;
  flex-direction: column;
  color: #2e2c2c;
  width: 22%;
  font-weight: bold;
}
.span-value {
  display: flex;
  flex-direction: column;
  /* border: 2px solid; */
  width: 75%;
  color: #948d8d;
}

.label-items,
.val-items {
  line-height: 3rem;
}

/* 4.3 Section - Button Box  */
.aboutBtnBox {
  display: flex;
  align-items: center;
  height: 15%;
}
.aboutBtnBox a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-left: 0.3rem;
  background-color: #3e64ff;
  border: #5871d6c5;
  padding: 0.6rem;
  border-radius: 1rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}
.aboutBtnBox a:hover {
  color: #07154b;
}
.about-gitIcon {
  cursor: pointer;
  margin-left: 0.3rem;
  font-size: 2.5rem;
}

/* 4.4 Section - About Image Box  */
.aboutImgBox img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

/* 5. Section - Skills */
#Skills {
  display: flex;
  opacity: 0;
  height: 125rem;
  transition: 0.6s ease;
}

/* 5.1 Skill Navbar */
#skillbar {
  position: sticky;
  left: 0;
  top: 20%;
  width: 20%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill-items {
  list-style: none;
}
#skill-items li {
  padding: 0.5rem;
  margin: 0.1rem;
}
#skill-items li a {
  font-size: 1.3rem;
  font-family: 'Kanit', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/* Dynamically add effect */
.AddNavEffect {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  padding: 0.4rem;
  transform: translateX(20%);
  transition: 0.6s ease;
}
.skillsbox {
  width: 75%;
  height: 100%;
  margin-left: 1rem;
}

.skill-title {
  margin: 1rem;
  font-size: 2.2rem;
  color: blue;
  font-family: "Mukta", sans-serif;
  margin: 3rem 1rem 1rem 1rem;
}
.skill-value {
  display: flex;
  margin: 1rem;
  font-size: 1.2rem;
}
.uil-analytics {
  font-size: 2.1rem;
  background-color: blue;
  border-radius: 30%;
  color: white;
  padding: 0.2rem;
}
.skill-btns {
  width: 5%;
  margin: 0.5rem 0 0 0.6rem;
}
.skill-para {
  width: 75%;
}

#edubox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
#expbox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
#langbox {
  transform: translateY(0%);
  opacity: 0;
  transition: 0.6s ease;
}
/* 5.2 Section: Skills, Para  */
.para-duration {
  color: blue;
}

/* Dynamic Animations */
.animateYitems {
  animation: aniYSlide 0.6s ease-in-out;
}
@keyframes aniYSlide {
  0% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0%);
  }
}
.para-primary {
  font-family: "Merriweather", serif;
  font-size: 1.4rem;
  padding: 0.2rem;
  margin: 0.2rem;
  font-weight: bold;
}
.para-duration {
  font-family: "Merriweather", serif;
  padding: 0.2rem;
  margin: 0.2rem;
}
.para-secondary {
  font-family: "Merriweather", serif;
  font-weight: bold;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1.1rem;
}
.para-tertiary {
  font-family: "Merriweather", serif;
  padding: 0.2rem;
  margin: 0.2rem;
  font-size: 1rem;
  color: #888080;
}
